$color-primary:#FF4646;
$color-primary10:rgba(255, 70, 70, 0.10);
$color-dark: #181C29;

$color-light: #fff;
$color-static40: rgba(255, 255, 255, 0.40);
$color-static20: rgba(255, 255, 255, 0.20);

$color-work_tag: #4361FF;
$color-health_tag: #FF43F7;
$color-harmony_tag: #06A44F;

$color-background: #ECF3F8;
$color-overlay: rgba(24, 28, 41, 0.80);

$content-width: 1276px;
$tablet-width: 752px;
$mobile-width: 364px;