@import './normilize.css';
@import './base.css';

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
}
.avatar-container img {
  height: 225px;
  width: 225px;
  border: 2px solid var(--header-color);
  border-radius: 100%;
  background-color: greenyellow;
}
