@import './normilize.css';
@import './base.css';

.aside-content {
  grid-row: 2/4;
  padding-bottom: 30px;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px 0;
}
.avatar-container img {
  height: 260px;
  width: 260px;
  border: 2px solid var(--header-color);
  border-radius: 100%;
  background-color: greenyellow;
}
header h2 {
  font-size: 26px;
  font-weight: 400;
  color: var(--second-text-color);
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.contacts-link {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  transition: all 0.5s;
}
.contacts-link:hover {
  color: red;
  transform: scale(1.2);
}

.skills-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.skills-list-item {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.skills-list-item img {
  width: 48px;
  height: 48px;
}

.education-note {
  font-size: 12px;
  color: var(--second-text-color);
}

.footer__wrapper {
  display: flex;
  justify-content: space-around;
}
.footer__image-wrapper {
  height: 100px;
}
.footer__created-at {
  font-size: 24px;
  text-align: center;
  margin-top: 30px;
  font-weight: 700;
}
